:root {

    --bg-black-900: #f2f2f2;
    --bg-black-100: #f2f2f2;
    --bg-black-50: #f2f2f2;
    --text-black-900: #252A2E;
    --text-black-700: #1e2326;
    --text-black-350: #f6f6f7;
    --text-black-400: #f2f2f2;
    --text-black-850: #ffffff;
    --skin-color: #f7465b;
    --color-acento: #fa7988;
    --color-invierno: #3535fe;
    --color-invierno-boton: #080818;

}

/*////////////////////// CARD VERANO //////////////////////////////////////////////////////*/

button {

    font-size: 1.15em;
    margin-bottom: 10px;
    font-weight: initial;
    border-radius: 10px;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: var(--skin-color);
    background-color: var(--text-black-850);
}


button:hover {
    transition: 0.6s all ease;
    transform: scale(1.15);
    box-shadow: 0 0 5px 3px var(--bg-black-50);
}

.all {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}


.card {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card img {
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card img:hover {
    transform: scale(.96);
}

.card .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .description p span {
    color: #ff1f39
}


/*/////////////////////////// CARD INVIERNO //////////////////////////////////*/

.boton-invierno {

    font-size: 1.15em;
    margin-bottom: 10px;
    font-weight: initial;
    border-radius: 10px;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: var(--color-invierno-boton);
    background-color: var(--text-black-850);
}

.boton-invierno:hover {
    transition: 0.6s all ease;
    transform: scale(1.15);
    box-shadow: 0 0 5px 3px var(--bg-black-50);
}

.all-invierno {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}

.card-invierno {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card-invierno:hover {
    box-shadow: 0 0 5px 3px var(--color-invierno);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card-invierno img {
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card-invierno img:hover {
    transform: scale(.96);
}

.card-invierno .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-invierno .description p span {
    color: var(--color-invierno);
}

/* /////////////////////////section ACCESORIOS/////////////////////// */


.all-accesorios {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}

.card-accesorios {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card-accesorios:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card-accesorios img {
    flex: 0 0 50%;
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card-accesorios img:hover {
    transform: scale(.96);
}

.card-accesorios .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-accesorios .description p span {
    color: #ff1f39
}

@media screen and (max-width:1000px) {
    .card {
        width: 100%;
    }

    .card .all {
        width: 100%;
    }

    .card img {
        width: 100%;
    }
}

@media screen and (max-width:640px) {


    .all {
        display: inline-block;
        margin: auto;
        width: 100%;
        margin-left: 25%;
        padding-top: 30px;
    }

    .card{
        padding: 50px 50px 50px 50px;
    }

    .card img{
        width: 200px;
        margin: 10px -40px 10px;
    }





}