*root{
    --skin-color: #f7465b;
    --color-acento: #fa7988;
    --text-black-900: #252A2E;
    --text-black-700: #1e2326;
}


/*////////////// seccion inicio logo //////////////*/

* * ::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-family: inherit;
}

.introduccion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: var(--text-black-700);
    transition: 2s;
}


.introduccion p {

    color: gray;
    font-size: 2.6rem;
}

.introduccion .logo {
    margin-top: 90px;
    font-size: 5.5em;
    color: var(--skin-color);
}

.introduccion .logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out .5s;
}

.content{
    width: 100%;
    padding: 50px;
    font-size: 2rem;
}









[data-animacion="show"] {
    opacity: 0;
    transform: translate(100%);
    transition: .9s ease-in .3s;


    --opacity: 1;
    --transfrom: translate(0);
}

.unset {
    opacity: var(--opacity);
    transform: var(--transfrom);
}


/*////////////// section respondive ////////////////*/
@media screen and (max-width:715px){
    .introduccion .logo{
        font-size: 3.2em;
    }

    .introduccion p{
        font-size: 2.2em;
    }
}

@media screen and (max-width:440px){
    .introduccion .logo{
        font-size: 2.2em;
    }

    .introduccion p{
        font-size: 1.2em;
    }
}