:root {

    --bg-black-900: #f2f2f2;
    --bg-black-100: #f2f2f2;
    --bg-black-50: #f2f2f2;
    --text-black-900: #252A2E;
    --text-black-700: #1e2326;
    --text-black-350: #bbbbbc;
    --text-black-400: #f2f2f2;
    --text-black-850: #ffffff;
    --skin-color: #f7465b;
    --color-acento: #fa7988;
    --color-invierno: #3535fe;
    --color-invierno-boton: #080818;

}

/*////////////////////// CARD VERANO //////////////////////////////////////////////////////*/


button {

    font-size: 1.55em;
    margin-bottom: 10px;
    font-weight: initial;
    border-radius: 10px;
    margin-left: 15px;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: var(--color-acento);
    background-color: var(--text-black-850);
}


button:hover {
    transition: 0.6s all ease;
    transform: scale(1.15);
    box-shadow: 0 0 5px 3px var(--bg-black-50);
}

.all {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}


.card {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card img {
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card img:hover {
    transform: scale(.96);
}

.card .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .description p span {
    color: var(--text-black-350)
}


/*/////////////////////////// CARD INVIERNO //////////////////////////////////*/

.boton-invierno {

    font-size: 1.55em;
    margin-bottom: 10px;
    font-weight: initial;
    border-radius: 10px;
    margin-left: 25px;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: var(--color-invierno);
    background-color: var(--text-black-850);
    text-decoration: none;
}



.boton-invierno:hover {
    transition: 0.6s all ease;
    transform: scale(1.20);
    box-shadow: 0 0 5px 3px var(--bg-black-50);
}

.all-invierno {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}

.card-invierno {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card-invierno:hover {
    box-shadow: 0 0 5px 3px var(--color-invierno);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card-invierno img {
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card-invierno img:hover {
    transform: scale(.96);
}

.card-invierno .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-invierno .description p span {
    color: var(--text-black-350);
}

/* /////////////////////////section ACCESORIOS/////////////////////// */


.all-accesorios {
    margin-bottom: 10px;
    margin-left: 5px;
    flex: 0 0 50%;
    max-width: 90%;
    display: flex;
}

.card-accesorios {
    flex: 0 0 100%;
    max-width: 23%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: var(--text-black-850);
    border: 2px solid var(--text-black-400);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;
}

.card-accesorios:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);
}

.card-accesorios img {
    flex: 0 0 50%;
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1.2s ease;

}

.card-accesorios img:hover {
    transform: scale(.96);
}

.card-accesorios .description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-accesorios .description p span {
    color: var(--text-black-350);
}
.boton-accesorios {

    font-size: 1.15em;
    margin-bottom: 10px;
    font-weight: initial;
    border-radius: 10px;
    margin-left: 15px;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: var(--color-acento);
    background-color: var(--text-black-850);
}

.boton-accesorios:hover {
    transition: 0.6s all ease;
    transform: scale(1.15);
    box-shadow: 0 0 5px 3px var(--bg-black-50);
}

@media screen and (max-width:1000px) {
    .card {
        width: 100%;
    }

    .card .all {
        width: 100%;
    }

    .card img {
        width: 100%;
    }
    .card-invierno {
        width: 100%;
    }

    .card-invierno .all-invierno {
        width: 100%;
    }

    .card-invierno img {
        width: 100%;
    }

}

@media screen and (max-width:640px) {


    .all {
        display:block;
        margin: auto;
        width: 100%;
        margin-left: 15%;
    }

    .card{
        padding: 50px 80px 5px 80px;
        margin-top: 50px;
    }

    .card img{
        width: 200px;
        margin: -30px -50px 10px;
        
    }
    .card p{
        font-size: 1.1em;
    }

    .card button{
        font-size: 2.0em;
        margin: 20px -20px 30px;
    }
    .all-invierno{
        display:block;
        margin: auto;
        width: 100%;
        margin-left: 15%;
    }

    .card-invierno{
        padding: 50px 80px 5px 80px;
        margin-top: 50px;
    }

    .card-invierno img{
        width: 200px;
        margin: -30px -50px 10px;
        
    }
    .card-invierno p{
        font-size: 1.1em;
    }

    .card-invierno button{
        font-size: 2.0em;
        margin: 20px -20px 30px;
    }
    .all-accesorios {
        display:block;
        margin: auto;
        width: 100%;
        margin-left: 15%;
    }

    .card-accesorios{
        padding: 50px 80px 5px 80px;
        margin-top: 50px;
    }

    .card-accesorios img{
        width: 200px;
        margin: -30px -50px 10px;
        
    }
    .card-accesorios p{
        font-size: 1.1em;
    }

    .card-accesorios button{
        font-size: 2.0em;
        margin: 20px -20px 30px;
    }
    .boton-invierno{
        width: 90%;
    }
    button{
        width: 90%;
    }




}

@media screen and (max-width:480px){
    .boton-invierno{
        width: 100%;
    }
    button{
        width: 100%;
    }

}