@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;300;400;500;600&family=Sofia+Sans:wght@100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Clicker+Script&family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Sofia+Sans:wght@100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,800&display=swap');

:root {

    --bg-black-900: #f2f2f2;
    --bg-black-100: #f2f2f2;
    --bg-black-50: #f2f2f2;
    --text-black-900: #252A2E;
    --text-black-700: #1e2326;
    --text-black-350: #f6f6f7;
    --text-black-400: #f2f2f2;
    --text-black-850: #ffffff;
    --skin-color: #f7465b;
    --color-acento: #fa7988;


}

.padd-25 {
    padding-left: 80px;
    padding-right: 40px;
    max-width: 100%;
    margin: 25px;
    border-radius: 15px;
    background-color: var(--skin-color);
    color: var(--text-black-700);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    flex-direction: row;


}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Clicker Script', cursive;
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Work Sans', sans-serif !important;
    margin: 0;
}

.body {
    background-color: var(--text-black-700);
}

button {

    font-size: 2.26em;
    font-weight: bold;
    padding: 10px 20px;
    padding-bottom: 10px;
    border-radius: 40px !important;
    border: 1px solid rgba(249, 249, 249, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
    color: rgb(255, 255, 255);
    background-color: var(--skin-color);
}

.boton-1 a {
    text-decoration: none;
    color: #ffff;
}


.boton-1 a:hover {
    text-decoration: none;
    color: #ffff;
}

.boton-2 a {
    text-decoration: none;
    color: #ffff;
}


.boton-2 a:hover {
    text-decoration: none;
    color: #ffff;
}

button:hover {
    transition: 0.6s all ease;
    transform: scale(1.15);

}

.color-acento {
    color: var(--skin-color);
    transition: 1.6s all ease;
}

header {

    background-color: var(--text-black-900);
    width: 100%;
}

.header .container li {
    display: flex;
}

.header .container .href {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 80px;
    padding-top: 0;
}


.header .container p {
    width: 60%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}

.header .container .href li a {
    font-family: 'Clicker Script', cursive;
    font-size: 0.9em;
    white-space: nowrap;
    text-decoration: none;
    color: var(--bg-black-100);
    transition: all 0.6s ease;
}

.header .container li a:hover {

    color: var(--color-acento);
    text-decoration: none;
}



header .container {
    font-weight: bold;
    color: var(--skin-color);
    font-size: 1.8em;


}

.nav-responsive {
    background-color: #f7465b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* header .container .logo{

   display: inline-block;
} */

#somos_calzados {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 15px;
    margin-top: 10px;
    max-width: 80%;
    margin-left: 10%;
    border-radius: 25px;
    background-color: #252A2E;

    background-repeat: repeat;
}


.hero {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-1 {
    background-color: var(--text-black-700);
    border: 1px solid var(--text-black-400);
    color: var(--skin-color);
    text-align: center;
    padding-bottom: 15px;
    margin-top: 100px;
    max-width: 80%;
    margin-left: 10%;
    border-radius: 25px;
    transition: all .35s ease;

}

.container-1 p {
    color: var(--bg-black-900);
}

.container-1:hover {
    box-shadow: 0 0 15px var(--skin-color);
}

.container-1 h2 span {
    color: var(--color-acento);
}

.container-1 .intro {
    font-size: 2.0em;
    font-family: 'Clicker Script', cursive !important;
    text-decoration: dotted;

}

.container-2 {
    background-color: var(--text-black-700);
    border: 1px solid var(--text-black-400);
    text-align: center;
    padding-bottom: 15px;
    margin-top: 50px;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 20px;
    transition: all .35s ease;


}

.container-2 p {
    color: var(--bg-black-900);
}

.container-2 h3 span {
    color: var(--color-acento);

}

.container-2:hover {
    box-shadow: 0 0 20px var(--color-acento);
}

.container-3 {
    background-color: var(--text-black-700);
    border: 1px solid var(--text-black-400);
    text-align: center;
    padding-bottom: 15px;
    margin-top: 50px;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 20px;
    transition: all .35s ease;

}

.container-3 p {
    color: var(--bg-black-900);
}

.container-3 h3 span {
    color: var(--skin-color);

}

.container-3:hover {
    box-shadow: 0 0 20px var(--skin-color);
}

.container-4 {
    background-color: var(--text-black-700);
    border: 1px solid var(--text-black-400);
    text-align: center;
    padding-bottom: 15px;
    margin-top: 50px;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 20px;
    transition: all .35s ease;

}

.container-4 p {
    color: var(--bg-black-900);
}

.container-4 h3 span {
    color: var(--color-acento);

}

.container-4:hover {
    box-shadow: 0 0 20px var(--color-acento);
}

header nav {

    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

#caracteristicas {
    text-align: center;
    margin-bottom: 0%;
    margin-bottom: 0%;

}

.informacion {
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

.informacion h1 {
    color: var(--skin-color);
    background-color: var(--bg-black-100);
    text-align: center;
    font-size: 55px;
}

.informacion p {
    text-align: center;
    font-size: 20px;
}



/********* QUIENES SOMOS **********/


.informacion {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: rgba(232, 232, 232, 0.5);
    border: 2px solid var(--text-black-400);
    color: var(--color-acento);
    text-align: center;
    border-radius: 25px;
    transition: all .3s ease;

}

.informacion .info-1:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);



}

.informacion .info-2:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);


}

.informacion .info-3:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);


}

.informacion .info-4:hover {
    box-shadow: 0 0 5px 3px var(--color-acento);
    transition: 0.6s all ease;
    transform: scale(1.1);


}

.informacion .all {
    flex: 0 0 50%;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    max-width: 90%;
    display: flex;

}

.informacion .info-1,
.info-2,
.info-3,
.info-4 {
    background-color: rgba(232, 232, 232, 0.5);
    color: var(--skin-color);
}

.informacion h1 {
    background-color: var(--bg-black-900-);
}

.informacion p {
    color: var(--text-black-700);
}

.container-footer {
    margin-left: 2%;
    color: var(--bg-black-100);
    width: 50%;
}



.redes h2 {
    font-size: 2.5em;
    color: var(--bg-black-100);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Clicker Script', cursive;
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sofia Sans', sans-serif;

}

.redes {
    display: flex;
    margin-top: 7%;
    margin-left: 5%;
}

.redes .icon {
    margin-left: 10%;
}

.redes a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    transition: all 0.5s ease;
}



.redes a:hover {
    background-color: #f7465b;
}


.redes .icon .div-1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.5s ease;

}

.redes .icon .div-1 .fa-brands {
    font-size: 35px;
    margin-left: 30%;
    margin-top: 3%;
    line-height: 50px;
    color: var(--color-acento);
    transition: all 0.5s ease;
}

.redes .icon:hover .div-1 {
    background-color: var(--skin-color);
    text-decoration: none !important;
}

.redes .icon:hover .div-1 .fa-brands {
    padding-left: 5%;
    font-size: 25px;
    color: #ffffff;

}

.redes .icon:hover .div-1 a {
    text-decoration: none;
}


.redes .icon .div-2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.5s ease;

}

.redes .icon .div-2 .fa-brands {
    font-size: 35px;
    margin-left: 30%;
    margin-top: 3%;
    line-height: 50px;
    color: var(--color-acento);
    transition: all 0.5s ease;
}

.redes .icon:hover .div-2 {
    background-color: var(--skin-color);
    text-decoration: none !important;
}

.redes .icon:hover .div-2 .fa-brands {
    padding-left: 2%;
    font-size: 25px;
    color: #ffffff;

}

.redes .icon:hover .div-2 a {
    text-decoration: none;
}


.redes .icon .div-3 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.5s ease;

}

.redes .icon .div-3 .fa-brands {
    font-size: 35px;
    margin-left: 30%;
    margin-top: 3%;
    line-height: 50px;
    color: var(--color-acento);
    transition: all 0.5s ease;
}

.redes .icon:hover .div-3 {
    background-color: var(--skin-color);
    text-decoration: none !important;
}

.redes .icon:hover .div-3 .fa-brands {
    padding-left: 3%;
    font-size: 25px;
    color: #ffffff;

}

.redes .icon:hover .div-3 a {
    text-decoration: none;
}


/*/////////////////////// section responsive /////////////////////*/

@media screen and (min-width:695px) {
    .container-2 h3 {
        font-size: 2.5em;
    }

    .container-2 p {
        font-size: 1.6em;


    }

    .container-3 h3 {
        font-size: 2.5em;
    }

    .container-3 p {
        font-size: 1.6em;


    }

    .container-4 h3 {
        font-size: 2.5em;
    }

    .container-4 p {
        font-size: 1.6em;


    }
}


@media screen and (max-width:620px) {

    .header .container .nav-responsive {
        margin-right: 90%;
    }

    .header .container .href li a {
        display: none;
    }

    .nav-responsive {
        background-color: #f7465b;
        margin-top: -75px;
        border-radius: 15%;
        padding: 10px;

    }

    .nav-responsive {
        display: block;
    }

    .nav .responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 0px;
        background-color: #252A2E;
        width: 100px;
    }


    .redes {
        display: block;
        text-align: center;
        margin-right: 15%;
    }

}

@media screen and (max-width:440px) {

    .header .container .nav-responsive {
        width: 12%;
        margin-left: 90%;
    }

    .container-2 {
        height: 325px;
        width: 300px;
    }

    .container-2 h3 {
        font-size: 1.6em;
    }

    .container-3 {
        height: 325px;
    }

    .container-3 h3 {
        font-size: 1.6em;
    }
    .container-4 {
        height: 325px;
    }

    .container-4 h3 {
        font-size: 1.4em;
    }

}